body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FFFCF2;
    background-color: #474747;    
}

.clear{clear: both;}

#MainArea{
    width: 80%;
    max-width: 800px;
    padding: 0% 10%;
    padding-bottom: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#topBar{
    width: 100%;
    height: 10%;
}

h1{
    font-size: 3.5em;
}

h2{
    font-size: 2em;
    margin-top: -1.8em;
}

#profilePicture{
    float: right;
    width: 20%;
}

#socialLinks{
    list-style-type: none;
}

a{
    color: #f95738;
}

.link:hover{
    color: fffcf2;
}

.link:hover{
    color: #fffcf2;
}

h3{
    font-size: 1.5em;
    border-bottom: 2px solid #CF5C36;
    padding-bottom: 0.5em;
}

ul{
    font-size: -0.5em;
    line-height: 1.4em;
}

p{
    color: FFFCF2;
    line-height: 1.4em;
}

.fRight{
    float: right;
    padding-top: 100px;
    padding-left: 40px;
    padding-bottom: 20px;
    margin-right: 0%;
    width: 40%;
    max-width: 400px;
}

.fLeft{
    width: 40%;
    max-height: 300px;
    float: left;
    padding-bottom: 20px;
}

#LinksToJobAdPDF{
    color: #ccc5b9;
    size: -2em;
}

/* [] Fix image widths. The fRight images are not conforming to width: 40%; */